body {
  background-image: url("https://breathfm.de/static/media/background.a4de14fdf90222d14e1e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
article {
  border-radius: 10px;
  box-shadow: 0px 0px 15px #101010
} 

article.down-active {
  background: var(--down-background-color);
  border-color: #521515;
  background-color: #521515
}

